/* CSS RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS HEADER */

header {
    background-color: dodgerblue;
    height: 100px;
    background-image: url(./img/pattern.png);
    background-size: 30%;
}

#logo {
    height: 50px;
    margin-top: 50px;
    padding-left: 10px;
}

/* CSS MAIN */
main {
    padding: 10px;
}

h1 {
    font-size: 50px;
}

address, time {
    font-style: normal;
    font-size: 12px;
    color: gray;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

main img {
    height: 400px;
    width: 600px;
    margin-top: 10px;
}

figcaption {
    font-size: 10px;
}

p, table {
    margin: 15px 0;
}

ul {
    padding-left: 20px;
}

table {
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: dodgerblue;
    color: white;
}

table .small {
    width: 25%;
}

table .big {
    width: 50%;
}

.bg-acqua {
    background-color: aqua;
}

/* CSS FOOTER */
footer {
    padding: 0 10px;
}

footer .img-monitor, .img-graph {
    height: 100px;
    width: 150px;
    background-size: contain;
    margin: 10px 0;
}

.img-monitor {
    background-image: url(./img/monitor.jpg);
}

.img-graph {
    background-image: url(./img/graph.jpg);
}

footer h4 {
    color: white;
    padding: 5px;
    font-size: 15px;
}

footer h5 {
    font-size: 12px;
    color: gray;
}